Compiled/
Win32/
Win64/
Linux64/
Android/
Android64/
OSX64/
Debug/
Release/
*.dcu
*.dcp
*.bpl
*.exe
*.dll
*.map
*.drc
*.rsm
*.local
*.identcache
*.projdata
*.tvsconfig
*.stat
*.~*
__delphi-patch/
__delphi-temp/
__history/
__recovery/
*-deploy.zip
*.delphilsp.json
